* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: skyblue;
    font-family:'Times New Roman', Times, serif;
}

.wrapper {
    margin-top: 10%;
}

.wrapper h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 52px;
    text-align: center;
    margin-bottom: 60px;
}

.team {
    display: flex;
    text-align: center;
    justify-content: center;
    width: auto;
}

.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
} 
