* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: skyblue;
    font-family:'Times New Roman', Times, serif;
}

.wrapper {
    margin-top: 10%;
}

.wrapper h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 52px;
    text-align: center;
    margin-bottom: 60px;
}

.team {
    display: flex;
    text-align: center;
    width: auto;
}
